@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--bg);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.25rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.cart-items-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 30rem;
  height: 100vh;
  background-color: var(--main-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-items-container .cart-item {
  display: flex;
  background-color: rgba(0, 0, 0, 0.199);
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  height: 8rem;
}

.cart-items-container .content {
  color: white;
  font-size: 15px;
  padding: 0.75rem;
}

.cart-items-container .cart-item img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--white);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(img3.jpg);
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

/* media queris */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }
}

section {
  padding: 2rem;
}

/* media queris */
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .search-form.active {
    transform: scaleY(1);
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 5rem;
    font-size: 2rem;
  }
}

.header .search-form {
  width: 90%;
  right: 2rem;
}

.home {
  background-position: left;
  justify-content: center;
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;
}

.home .content p {
  font-size: 1.5rem;
}

.about {
  padding: 0;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #ffff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

/* MENU -- START */

.menu .container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;

  color: white;
}

.menu .container .box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  box-sizing: border-box;
  width: 28rem;
  height: 30rem;

  border: 1px solid #2b2b31;
}

.menu .container .box .bottom-area {
  padding: 1.5em 0;
}

.menu .container .box .bottom-area h3 {
  font-size: 2em;
  line-height: 4rem;
}

.menu .container .box .bottom-area .price {
  font-size: 2em;
}

.menu .container .box .bottom-area .price span {
  font-size: 0.75em;
  opacity: 75%;
  text-decoration: line-through;
}

.buy-items {
  width: 80px;
  height: 80px;

  border-radius: 50%;

  object-fit: cover;
  object-position: center;

  cursor: pointer;
}

.menu .container .box .bottom-area .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 1rem;
  width: 18rem;

  background-color: var(--main-color);
}

/* MENU -- END */

#contact {
  color: white;
  width: 100%;
  height: 120vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact h1 {
  font-size: 3em;
  color: var(--main-color);
  padding: 3rem;
}

#contact h1 span {
  color: white;
}

#contact .container {
  width: 80%;
  height: 90%;
  padding: 4rem;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact .container label {
  font-size: 2em;
}

#contact .container input {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: white;
  font-size: 2em;
  padding: 1rem;
  margin: 0 0 2rem;

  height: 4rem;
  width: 100%;

  border-radius: 10px;
}

#contact .container textarea {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}

#contact .container .btn {
  background-color: var(--main-color);
  border-radius: 10px;
  width: 100%;

  transition: 200ms ease-in-out;
}

#contact .container .btn:hover {
  opacity: 75%;
}

#contact .container .bottom-area {
  width: 100%;
}

#contact .container .bottom-area .keterangan {
  background-color: #3ee13e;
  border-radius: 10px;
  height: 5rem;
  margin: 1rem 0;
  padding: 1rem;

  display: flex;
  align-items: center;
  opacity: 0;
}

#contact .container .bottom-area .keterangan.clicked {
  opacity: 100%;
}

#contact .container .bottom-area .keterangan p {
  height: 5rem;
  font-size: 2em;
}

footer {
  color: white;
  width: 100%;
  padding: 4rem;
  font-size: 2em;

  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: white;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
